<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="card" style="border-radius: 70px;">
        <div class="card-body">
          <h2 class="text-center">
            <strong
              >Sign<span style="color: rgb(255, 165, 0);">
                In</span
              ></strong
            >
          </h2>
          <form [formGroup]="signInForm" class="mt-4" (ngSubmit)="signIn()">

            <!-- email -->
            <div class="mb-3">
              <!-- <label for="exampleInputEmail1" class="form-label"
                >Email</label
              > -->
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="Email"
                name="email"
                formControlName="email"
              />
            </div>

            <!-- email validation -->
            <div *ngIf="this.signInForm.get('email')?.errors&&this.signInForm.get('email')?.touched" class="text-danger">
              Invalid Email
            </div>

            <!-- Password -->
            <div class="mb-3">
              <!-- <label for="exampleInputPassword1" class="form-label"
                >Password</label
              > -->
              <input
                type="password"
                class="form-control"
                id="exampleInputPassword1"
                placeholder="Password"
                name="password"
                formControlName="password"
              />
            </div>

            <!-- password validation -->
            <div *ngIf="this.signInForm.get('password')?.errors&&this.signInForm.get('password')?.touched" class="text-danger">
              Invalid Email
            </div>

            <div class="d-flex justify-content-center mt-4">
                <button value="signin" type="submit" class="btn btn-outline-dark d-flex justify-content-center">
                    <strong
                      >Sign<span style="color: rgb(255, 165, 0);">
                        In</span
                      ></strong
                    >
                  </button>
            </div>
            <div
              class="d-flex flex-column justify-content-center align-items-center"
            >
              <p class="mt-4">Don't have an Account ?</p>
              <a href="signUp" class='' style="text-decoration: none; color: black"
                ><strong
                  >Click<span
                    style="color: rgb(255, 165, 0);"
                  >
                    Here !!!</span
                  ></strong
                ></a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
